{% extends('profile/profile_layout.html.twig') %}

{%- block title -%}
  Mes tricks publiés - SnowTricks
{%- endblock -%}

{% block profile_body %}
  <h1 class="font-jura font-bold text-center lg:text-left text-2xl lg:text-4xl mb-10 mb-6 lg:border-l-4 border-yellow-500 lg:ml-10 lg:pl-4">
    Mes tricks publiés
  </h1>
  <div class="mt-4 lg:mt-14">
    <div class="flex flex-col justify-center items-center w-10/12 mx-auto mt-4 lg:mt-14 overflow-x-auto">
      <table class="border-collapse table-auto border border-white text-left">
        <thead>
        <tr>
          <th class="border border-gray-700 px-6 py-4 font-jura font-bold text-lg bg-gray-700 text-white">Nom du trick
          </th>
          <th class="border border-gray-700 px-6 py-4 font-jura font-bold text-lg bg-gray-700 text-white">Date de
            création
          </th>
          <th class="border border-gray-700 px-6 py-4 font-jura font-bold text-lg bg-gray-700 text-white">Date de
            modification
          </th>
        </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
          <tr>
            <td class="border border-gray-700 px-6 py-4">
              <a href="{{ path('trick_detail', { slug: trick.slug }) }}"
                 class="inline-block p-2 lg:px-8 hover:shadow-lg lg:py-2 rounded-md transition duration-500 delay-100 ease-out hover:bg-yellow-500 hover:text-white"
              >{{ trick.name }}</a>
            </td>
            <td class="border border-gray-700 px-6 py-4">
              {{ trick.createdAt|date('d/m/Y \à H:i') }}
            </td>
            <td class="border border-gray-700 p-1 lg:px-2 lg:py-4 xl:px-4 text-center">
              {{ trick.updatedAt|date('d/m/Y \à H:i') }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
