<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center z-50 py-12">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  <div class="modal-container bg-none lg:max-h-full mx-auto z-50 overflow-y-hidden">
    <!--Close button-->
    <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-20 lg:mt-4 mr-6 lg:mr-4 text-white text-sm z-50">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
           viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
    </div>
    <div class="modal-content w-full h-full">
      <!--Body-->
      <div class="modal-body">
        <img class="hidden max-w-full px-4 lg:px-0 lg:max-w-5xl max-h-screen"
             id="image"
             src=""
             alt=""
        >
        <iframe class="hidden max-w-full px-4 lg:px-0 lg:max-w-5xl max-h-screen"
                id="video"
                width="1200"
                height="600"
                src=""
                allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
