<!--Update media-->
<div class="hidden bg-white px-10 py-10 lg:px-20 lg:py-16 rounded-md" id="update-media-form">
  <h3 class="font-jura font-bold text-center lg:text-left text-xl lg:text-2xl mb-8 lg:border-l-4 border-yellow-500 lg:pl-4">
    Modifier le média
  </h3>
  <div id="update-media-form-content"></div>
</div>
