{% extends 'security/security_layout.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe envoyée{% endblock %}

{% block main_image %}{{ asset('build/images/login.jpg') }}{% endblock %}

{% block page_title %}Demande de réinitialisation de mot de passe envoyée{% endblock %}

{% block content %}
  <div class="container mx-auto flex flex-col w-10/12 lg:w-full lg:px-10 text-center lg:text-left mb-8 pt-4 lg:pt-8">
    <p class="mb-6">Un email contenant le lien de réinitialisation du mot de passe vous a été envoyé. Ce lien expire
      dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, vérifiez les spams ou <a
              href="{{ path('app_forgot_password_request') }}" class="text-yellow-500">renvoyez l'email</a>.</p>
  </div>
{% endblock %}
