{% extends 'base.html.twig' %}

{% block body %}
  <section class="container lg:max-w-screen-xl mx-auto mt-10 md:mt-16 mb-24 lg:mb-40">
    <div class="flex flex-col lg:grid lg:grid-cols-4 lg:gap-4 rounded-2xl shadow-2xl p-10 mx-4 lg:mx-10 bg-gray-200">
      <aside class="lg:col-start-1 lg:col-end-2 lg:-my-10 lg:-ml-10 mb-10 rounded-2xl lg:rounded-r-none lg:rounded-l-2xl bg-gray-600">
        <ul class="flex flex-row lg:flex-col justify-between lg:items-start mx-auto w-full px-6 lg:px-4 lg:pt-2 text-white">
          <li class="lg:w-full">
            <a href="{{ path('profile_index') }}"
               class="p-6 lg:px-2 lg:py-6 inline-block rounded-md transition duration-500 delay-100 ease-out hover:bg-yellow-500 w-full text-sm hover:shadow-lg"><i
                      class="fas fa-home text-lg sm:text-base lg:mr-4"></i><span
                      class="hidden lg:inline-block">Mon profil</span></a>
          </li>
          <li class="lg:w-full">
            <a href="{{ path('profile_tricks') }}"
               class="p-6 lg:px-2 lg:py-6 inline-block rounded-md transition duration-500 delay-100 ease-out hover:bg-yellow-500 w-full text-sm hover:shadow-lg"><i
                      class="fas fa-snowboarding text-lg sm:text-base lg:mr-4"></i><span
                      class="hidden lg:inline-block">Mes tricks publiés</span></a>
          </li>
          <li class="lg:w-full">
            <a href="{{ path('admin_comments') }}"
               class="p-6 lg:px-2 lg:py-6 inline-block rounded-md transition duration-500 delay-100 ease-out hover:bg-yellow-500 w-full text-sm hover:shadow-lg"><i
                      class="fas fa-comments text-lg sm:text-base lg:mr-4"></i><span
                      class="hidden lg:inline-block">Mes commentaires</span></a>
          </li>
        </ul>
      </aside>
      <div class="lg:col-start-2 lg:col-end-5 lg:pb-20">
        {% block profile_body %}
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock %}
