@tailwind base;
@tailwind components;

html {
    scroll-behavior: smooth;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: 3rem;
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    padding-top: 2rem;
}

#navbar.opened .navbar-menu {
    background-color: #334155;
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }

    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

.open-video-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 283px;
    height: 192px;
    cursor: pointer;
    z-index: 50;
}

input[type=radio] {
    margin-right: .5rem;
}

input[type=radio] + label:not(:last-child) {
    margin-right: 1.2rem;
}

#tricks {
    scroll-margin-top: 10rem;
}

@tailwind utilities;
